1. Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [3]:
marks = int(input("enter marks "))
if marks > 90 :
    print("grade is A")
elif marks > 80 and marks <= 90 :
    print("grade is B")
elif marks >= 60 and marks <= 80 :
    print("grade is C")
else :
    print("grade is D")

enter marks  99

grade is A

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
 
Tax                  Cost Price(in Rs) 
15%                  >100000 
10%                  >50000 and <= 100000
5%                   <= 50000

In [8]:
cost_price = int(input("enter the cost price"))
if cost_price > 100000 :
                 print("tax will be 15%")
elif cost_price > 50000 and cost_price <= 100000 :
                 print("tax will be 10%")
elif cost_price <= 50000 :
                 print("tax will be 5%")

enter the cost price 60000

tax will be 10%

3. Accept any city from the user and display monuments of that city. 
City         Monument
Delhi        Red Fort
Agra         Taj Mahal 
Jaipur       Jal Mahal

In [1]:
city_monument = {'Delhi' : "Red Ford", "Agra" : "Taj Mahal", "Jaipur" : "Jal Mahal"}

In [2]:
city_monument

{'Delhi': 'Red Ford', 'Agra': 'Taj Mahal', 'Jaipur': 'Jal Mahal'}

In [3]:
city_monument['Delhi']

'Red Ford'

In [4]:
city_monument['Agra']

'Taj Mahal'

In [5]:
city_monument['Jaipur']

'Jal Mahal'

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

5. Why and When to Use while Loop in Python give a detailed description with example

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.
While loop is used when the number of iterations is already Unknown. In the while loop, it can be repeated at every iteration.

6. Use nested while loop to print 3 different pattern.

In [6]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [7]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        k = 0
        while  k <= 5 :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i += 1

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15

0 0 0 0 0 0
0 2 4 6 8 10
0 4 8 12 16 20
0 6 12 18 24 30

0 0 0 0 0 0
0 3 6 9 12 15
0 6 12 18 24 30
0 9 18 27 36 45

0 0 0 0 0 0
0 4 8 12 16 20
0 8 16 24 32 40
0 12 24 36 48 60

7. Reverse a while loop to display numbers from 10 to 1.

In [1]:
a = 10
while a >= 1 :
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

8. Reverse a for loop to display numbers from 10 to 1 .

In [3]:
a = 10
for i in range(a):
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1